

    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="" href="index.html">
                <span class="navbar-brand" style="vertical-align:middle">
                    <img src="/static/images/leeco.png" style='width: 90px;height:30px'/>&nbsp;&nbsp;SEEVM devself system
                </span>
              </a>
        </div>

        <div class="navbar-collapse collapse" style="height: 1px;">  
          <ul id="main-menu" class="nav navbar-nav navbar-right">
            <li class="dropdown hidden-xs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> {{username}}
                    <i class="fa fa-caret-down"></i>
                </a>

              <ul class="dropdown-menu">
                <li><a href="./">my account</a></li>
                <li><a tabindex="-1" href="/webapp/devself/logout/">Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
    </div>
    

    <div class="sidebar-nav">
        <ul>
            <li><a href="#" data-target=".dashboard-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-dashboard"></i> Dashboard<i class="fa fa-collapse"></i></a></li>
            <li>
                <ul class="dashboard-menu nav nav-list collapse in">
                        <li><a href="/webapp/devself/home/"><span class="fa fa-caret-right"></span>VM management</a></li>
                        
                </ul>
            </li>           
        </ul>
    </div>
    


